# Ignorer le dossier des données brutes

Cours sur les Systèmes RAG/

.ipynb_checkpoints/
.venv/

# Ignorer certains types de fichiers lourds

*.csv
*.env

# Exceptions : ne pas ignorer ces fichiers précis

!Mettre le nom du fichier après le point d'exclamation